<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.diet.mapper.ReplyMapper">

	<select id="list" resultType="ReplyVO">
		select
		*
		from
		diet_reply
		where boardNo =
		#{boardNo}
		order by replyNo desc
	</select>

	<insert id="create">
		insert into diet_reply (replyNo, boardNo, replytext, replyer)
		values (seq_reply.nextval, #{boardNo},#{replytext},#{replyer})
	</insert>

	<update id="update">
		update diet_reply set replytext = #{replytext},
		updatedate = sysdate
		where replyNo = #{replyNo}
	</update>

	<delete id="delete">
		delete from diet_reply where replyNo =#{replyNo}
	</delete>

	<select id="listPage" resultType="ReplyVO">
		<![CDATA[
		select
		replyNo, boardNo, replytext, replyer, writedate, updatedate
		from
		(
		select /*+INDEX_DESC(diet_reply pk_reply))*/
		rownum rn, replyNo, boardNo, replytext, replyer, writedate, updatedate
		from diet_reply
		where boardNo = #{boardNo}
		and replyNo > 0
		and rownum <= #{cri.page} * #{cri.perPageNum}
		)
		where rn > ( #{cri.page} -1) * #{cri.perPageNum}
		]]>
	</select>
 <select id="count" resultType="int">
 <![CDATA[
 select 
   count(boardNo) 
 from 
   diet_reply 
 where 
   boardNo =#{boardNo} 
 ]]>
 </select>
 
	<select id="getboardNo" resultType="int">
		select boardNo from diet_reply where replyNo = #{replyNo}
	</select>
</mapper>

